<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="info" internalLogFile="c:\temp\internal-nlog.txt" throwExceptions="true">
    <targets>
      <!-- database target -->
      <target name="database" xsi:type="Database" connectionString="__CONNECTIONSTRING__"
              commandText="insert into dbo.LogComum(DataLog, SiglaOrigem, LoginUsuario, Mensagem, StackTrace, NivelLog)values(@dataLog,@sigOrigem,@loginUsuario,@mensagem,@stackTrace,@level)"
              xdt:Transform="Replace">
        <parameter name="@dataLog" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
        <parameter name="@sigOrigem" layout="PGD" />
        <parameter name="@loginUsuario" layout="${aspnet-user-identity}" />
        <parameter name="@mensagem" layout="${message:withException=false}" />
        <parameter name="@level" layout="${level:uppercase=true}" />
        <parameter name="@stackTrace" layout="${exception:format=tostring:maxInnerExceptionLevel=5:separator=\r\n}" />
      </target>
    </targets>
    <rules>
      <!-- database logger -->
      <logger levels="__NIVEISLOG__" name="*" writeTo="database" xdt:Transform="Replace"/>
    </rules>
  </nlog>
  <connectionStrings>
    <add connectionString="Server=184.171.250.237,30202;Database=PGDNOVO;User Id=app_mma;Password=zaVj1XzNFlGY;MultipleActiveResultSets=true" name="PGDConnectionString" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
