<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="SIGRHConnectionString" connectionString="Host=sed-sig-bd1-h;Username=us_pgd;Password=CGU123@;Database=administrativo;Port=5432" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="SistemasComumConnectionString" connectionString="Host=sed-sig-bd1-h;Username=us_pgd;Password=CGU123@;Database=sistemas_comum;Port=5432"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

</configuration>
