<div class="clearfix">
    <div class="form-group col-md-12">
        <table>
            <tr>
                <td>
                    Para avaliação dos produtos, use a seguinte referência:
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Excelente:</strong>entrega de excelência. Não apresenta defeitos, embora a chefia possa aplicar pequenos ajustes quanto à forma (nota: 10);
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Muito Bom:</strong> entrega acima da média, merecedor de destaque e reconhecimento. Pode apresentar poucos defeitos de menor escala (nota: 8 e 9);

                </td>
            </tr>

            <tr>
                <td>
                    <strong>Bom:</strong> entrega satisfatória que atende ao exigido para aceite. Apresenta mais defeitos de menor escala (nota: 6 e 7);
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Regular:</strong> entrega satisfatória que atende minimamente ao exigido para aceite. Apresenta mais defeitos e pode requerer devolução para revisão (nota: 5);

                </td>
            </tr>
            <tr>
                <td>
                    <strong>Insatisfatório:</strong> entrega não satisfatória, que não atende minimamente ao exigido para aceite. Apresenta defeitos maiores que comprometem e desqualificam em um nível aquém de 5 (nota: 4 a 1).
                </td>
            </tr>
        </table>
    </div>
</div>
