@model PGD.Application.ViewModels.ProdutoViewModel
                <div class="modal-header">
                    <h4 class="modal-title">
                        Obsevações  Adicionais
                    </h4>
</div>
 <div class="modal-body">
    <div class="row" style="text-align:center;"> @Model.ObservacoesAdicionais</div>
</div>
    <div class="modal-footer">
            <div class="col-md-6">
                <button type='button' class='btn btn-md btn-primary pull-left' data-dismiss="modal">
                    &nbsp;Cancelar
                </button>
            </div>
</div>
