@{
    Layout = null;
}
<h2>
    Ocorreu um erro não mapeado durante a execução da última ação.
</h2>

<p>
    <strong>Sistema:</strong> PGD
</p>
<p>
    <strong>Horário do Erro:</strong> @DateTime.Now
</p>
