@model System.Web.Mvc.HandleErrorInfo
@using System.Reflection
<br /><br />
<h2>
    Usuário não encontrado na base do sistema de RH. <br />
</h2>

<p>
    <strong>Sistema: PGD
    <br />
    Versão: @typeof(PGD.UI.Mvc.MvcApplication).Assembly.GetName().Version </strong >

</p>
<p>
    <strong>Horário do Erro:</strong> @DateTime.Now
</p>
