<?xml version="1.0" encoding="utf-8"?>
 
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="PGDConnectionString" providerName="System.Data.SqlClient" connectionString="__CONNECTIONSTRING__"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="ambiente" value="__AMBIENTE__" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="gravarEmailEmArquivo" value="__GRAVAREMAILEMARQUIVO__" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="caminhoArquivoEmail" value="__CAMINHOARQUIVOEMAIL__" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="modificarAssuntoConformeAmbiente" value="__MODIFICARASSUNTOCONFORMEAMBIENTE__" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ida:Wtrealm" value="__ADFSREALM__" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ida:ADFSMetadata" value="__ADFSMETADATA__" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ida:Wreply" value="__ADFSREPLY__" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SIGRHAPI" value="__SIGRHAPI__" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="URL_PGD" value="__URLPGD__" xdt:Transform="Replace" xdt:Locator="Match(key)"/>    
    <!-- Atenção: deve ser um caminho de rede ou cada máquina no balanceamento deve ter esse diretório-->
    <add key="DiretorioArquivos" value="__DIRARQUIVOS__" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="habilitarTratamentoBancoReplicado" value="__HABILITARTRATAMENTOBANCOREPLICADO__"  xdt:Locator="Match(key)"/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="info" internalLogFile="c:\temp\internal-nlog.txt" throwExceptions="true">
    <targets>
      <!-- database target -->
      <target name="database" xsi:type="Database" connectionString="Server=localhost;Database=MMA.PDG;User Id=sa;Password=123456;"
              commandText="insert into dbo.LogComum(DataLog, SiglaOrigem, LoginUsuario, Mensagem, StackTrace, NivelLog)values(@dataLog,@sigOrigem,@loginUsuario,@mensagem,@stackTrace,@level)"
              xdt:Transform="Replace">
        <parameter name="@dataLog" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
        <parameter name="@sigOrigem" layout="PGD" />
        <parameter name="@loginUsuario" layout="${aspnet-user-identity}" />
        <parameter name="@mensagem" layout="${message:withException=false}" />
        <parameter name="@level" layout="${level:uppercase=true}" />
        <parameter name="@stackTrace" layout="${exception:format=tostring:maxInnerExceptionLevel=5:separator=\r\n}" />
      </target>
    </targets>
    <rules>
      <!-- database logger -->
      <logger levels="__NIVEISLOG__" name="*" writeTo="database" xdt:Transform="Replace"/>
    </rules>
  </nlog>
  <system.net>
    <mailSettings>
      <smtp from="__SMTPFROM__" deliveryMethod="Network" xdt:Transform="Replace">
        <network host="__SMTPHOST__" port="25" defaultCredentials="__USEDEFAULTCREDENTIALS__" enableSsl="true" userName="__SMTPUSERNAME__" password="__SMTPPASSWORD__" xdt:Transform="Replace"/>
      </smtp>
    </mailSettings>
  </system.net>
  
  <system.web>
    <compilation targetFramework="4.5" debug="__DEBUG__" xdt:Transform="Replace" />    
  </system.web>

</configuration>